In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
single_mutation_file = "../data/working/Bgl3_single_mutations.tsv"
double_mutation_file = "../data/working/Bgl3_double_mutations.tsv"

In [3]:
single_mutations = pd.read_csv(single_mutation_file, sep="\t")
double_mutations = pd.read_csv(double_mutation_file, sep="\t")

In [4]:
single_mutations.describe()[:1]

       Unnamed: 0  positive  unsorted  positive_hitemp
count      5573.0    4522.0    4435.0           4054.0

In [5]:
double_mutations.describe()[:1]

       Unnamed: 0  positive  unsorted  positive_hitemp
count    523013.0  202618.0  263530.0         198481.0

In [6]:
def truncate_string_after_asterisk(seq):
    idx = seq.find("*")
    ret = seq
    if idx >= 0:
        ret = seq[:idx]
    return(ret)

In [7]:
# Set up constants for wild type and alphabets
WT_Bgl3 = 'MVPAAQQTAMAPDAALTFPEGFLWGSATASYQIEGAAAEDGRTPSIWDTYARTPGRVRNGDTGDVATDHYHRWREDVALMAELGLGAYRFSLAWPRIQPTGRGPALQKGLDFYRRLADELLAKGIQPVATLYHWDLPQELENAGGWPERATAERFAEYAAIAADALGDRVKTWTTLNEPWCSAFLGYGSGVHAPGRTDPVAALRAAHHLNLGHGLAVQALRDRLPADAQCSVTLNIHHVRPLTDSDADADAVRRIDALANRVFTGPMLQGAYPEDLVKDTAGLTDWSFVRDGDLRLAHQKLDFLGVNYYSPTLVSEADGSGTHNSDGHGRSAHSPWPGADRVAFHQPPGETTAMGWAVDPSGLYELLRRLSSDFPALPLVITENGAAFHDYADPEGNVNDPERIAYVRDHLAAVHRAIKDGSDVRGYFLWSLLDNFEWAHGYSKRFGAVYVDYPTGTRIPKASARWYAEVARTGVLPTAGDPNSSSVDKLAAALEHHHHHH*'

WT_Bgl3 = np.array(list(truncate_string_after_asterisk(WT_Bgl3)))

# Find all the unique letters
ALPHABET = np.array([l for l in set(WT_Bgl3) if l != "*"])
ALPHABET.sort()
ALPHABET_SIZE = len(ALPHABET)
print("ALPHABET =", ALPHABET)
print("ALPHABET_SIZE =", ALPHABET_SIZE)

WT_SIZE = len(WT_Bgl3) - 1 # subtract 1 for the stop codon at the end
print("WT_SIZE = ", WT_SIZE)

# This is an integer representation of the WT (index positions of the ALPHABET)
WT_INDEX = ALPHABET.searchsorted(WT_Bgl3)
print("WT_INDEX = ", WT_INDEX)

ALPHABET = ['A' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'K' 'L' 'M' 'N' 'P' 'Q' 'R' 'S' 'T' 'V'
 'W' 'Y']
ALPHABET_SIZE = 20
WT_SIZE =  500
WT_INDEX =  [10 17 12  0  0 13 13 16  0 10  0 12  2  0  0  9 16  4 12  3  5  4  9 18
  5 15  0 16  0 15 19 13  7  3  5  0  0  0  3  2  5 14 16 12 15  7 18  2
 16 19  0 14 16 12  5 14 17 14 11  5  2 16  5  2 17  0 16  2  6 19  6 14
 18 14  3  2 17  0  9 10  0  3  9  5  9  5  0 19 14  4 15  9  0 18 12 14
  7 13 12 16  5 14  5 12  0  9 13  8  5  9  2  4 19 14 14  9  0  2  3  9
  9  0  8  5  7 13 12 17  0 16  9 19  6 18  2  9 12 13  3  9  3 11  0  5
  5 18 12  3 14  0 16  0  3 14  4  0  3 19  0  0  7  0  0  2  0  9  5  2
 14 17  8 16 18 16 16  9 11  3 12 18  1 15  0  4  9  5 19  5 15  5 17  6
  0 12  5 14 16  2 12 17  0  0  9 14  0  0  6  6  9 11  9  5  6  5  9  0
 17 13  0  9 14  2 14  9 12  0  2  0 13  1 15 17 16  9 11  7  6  6 17 14
 12  9 16  2 15  2  0  2  0  2  0 17 14 14  7  2  0  9  0 11 14 17  4 16
  5 12 10  9 13  5  0 19 12  3  2  9 17  8  2 16  0  5  9 16  2 18 15  4
 17 14  2  5  2  9 14  9  0  6 13  8  9  2  4  9  5 17 11 19 19 15 12 16
  9 17 15  3  0  2  5 15  5 16  6 11 15  2  5  6  5 14 15  0  6 15 12 18
 12  5  0  2 14 17  0  4  6 13 12 12  5  3 16 16  0 10  5 18  0 17  2 12
 15  5  9 19  3  9  9 14 14  9 15 15  2  4 12  0  9 12  9 17  7 16  3 11
  5  0  0  4  6  2 19  0  2 12  3  5 11 17 11  2 12  3 14  7  0 19 17 14
  2  6  9  0  0 17  6 14  0  7  8  2  5 15  2 17 14  5 19  4  9 18 15  9
  9  2 11  4  3 18  0  6  5 19 15  8 14  4  5  0 17 19 17  2 19 12 16  5
 16 14  7 12  8  0 15  0 14 18 19  0  3 17  0 14 16  5 17  9 12 16  0  5
  2 12 11 15 15 15 17  2  8  9  0  0  0  9  3  6  6  6  6  6  6]

In [8]:
def mutate_wt(wt_index, alphabet_sorted, *mutations):
    mutation_index = wt_index.copy()

    for mutation in mutations:
        replace_char = mutation[-1]
        idx = int(mutation[1:-1]) - 1 # convert the one based index of the mutation to the zero based index
        mutation_index[idx] = alphabet_sorted.searchsorted(replace_char)

    return(mutation_index)

mutate_wt(WT_INDEX, ALPHABET, "A4F", "A5L")

array([10, 17, 12,  4,  9, 13, 13, 16,  0, 10,  0, 12,  2,  0,  0,  9, 16,
        4, 12,  3,  5,  4,  9, 18,  5, 15,  0, 16,  0, 15, 19, 13,  7,  3,
        5,  0,  0,  0,  3,  2,  5, 14, 16, 12, 15,  7, 18,  2, 16, 19,  0,
       14, 16, 12,  5, 14, 17, 14, 11,  5,  2, 16,  5,  2, 17,  0, 16,  2,
        6, 19,  6, 14, 18, 14,  3,  2, 17,  0,  9, 10,  0,  3,  9,  5,  9,
        5,  0, 19, 14,  4, 15,  9,  0, 18, 12, 14,  7, 13, 12, 16,  5, 14,
        5, 12,  0,  9, 13,  8,  5,  9,  2,  4, 19, 14, 14,  9,  0,  2,  3,
        9,  9,  0,  8,  5,  7, 13, 12, 17,  0, 16,  9, 19,  6, 18,  2,  9,
       12, 13,  3,  9,  3, 11,  0,  5,  5, 18, 12,  3, 14,  0, 16,  0,  3,
       14,  4,  0,  3, 19,  0,  0,  7,  0,  0,  2,  0,  9,  5,  2, 14, 17,
        8, 16, 18, 16, 16,  9, 11,  3, 12, 18,  1, 15,  0,  4,  9,  5, 19,
        5, 15,  5, 17,  6,  0, 12,  5, 14, 16,  2, 12, 17,  0,  0,  9, 14,
        0,  0,  6,  6,  9, 11,  9,  5,  6,  5,  9,  0, 17, 13,  0,  9, 14,
        2, 14,  9, 12,  0,  2,  0, 13,  1, 15, 17, 16,  9, 11,  7,  6,  6,
       17, 14, 12,  9, 16,  2, 15,  2,  0,  2,  0,  2,  0, 17, 14, 14,  7,
        2,  0,  9,  0, 11, 14, 17,  4, 16,  5, 12, 10,  9, 13,  5,  0, 19,
       12,  3,  2,  9, 17,  8,  2, 16,  0,  5,  9, 16,  2, 18, 15,  4, 17,
       14,  2,  5,  2,  9, 14,  9,  0,  6, 13,  8,  9,  2,  4,  9,  5, 17,
       11, 19, 19, 15, 12, 16,  9, 17, 15,  3,  0,  2,  5, 15,  5, 16,  6,
       11, 15,  2,  5,  6,  5, 14, 15,  0,  6, 15, 12, 18, 12,  5,  0,  2,
       14, 17,  0,  4,  6, 13, 12, 12,  5,  3, 16, 16,  0, 10,  5, 18,  0,
       17,  2, 12, 15,  5,  9, 19,  3,  9,  9, 14, 14,  9, 15, 15,  2,  4,
       12,  0,  9, 12,  9, 17,  7, 16,  3, 11,  5,  0,  0,  4,  6,  2, 19,
        0,  2, 12,  3,  5, 11, 17, 11,  2, 12,  3, 14,  7,  0, 19, 17, 14,
        2,  6,  9,  0,  0, 17,  6, 14,  0,  7,  8,  2,  5, 15,  2, 17, 14,
        5, 19,  4,  9, 18, 15,  9,  9,  2, 11,  4,  3, 18,  0,  6,  5, 19,
       15,  8, 14,  4,  5,  0, 17, 19, 17,  2, 19, 12, 16,  5, 16, 14,  7,
       12,  8,  0, 15,  0, 14, 18, 19,  0,  3, 17,  0, 14, 16,  5, 17,  9,
       12, 16,  0,  5,  2, 12, 11, 15, 15, 15, 17,  2,  8,  9,  0,  0,  0,
        9,  3,  6,  6,  6,  6,  6,  6])